[init]
	defaultBranch = main
[user]
	name = Binyamin Aron Green
	email = binyamingreen@protonmail.com
	# signingkey = "~/.ssh/id_ed25519.pub"
	signingkey = C27D091C9A453A1E
[pull]
	ff = only
[commit]
	gpgSign = true
[tag]
	gpgSign = true
[gpg]
	# format = ssh
